################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/WaterManagement/WaterManagementProcessorTests/obj
/WaterManagement/WaterManagement/obj
/WaterManagement/WaterManagement/.vs/WaterManagement
/WaterManagement/WaterManagement/bin/Debug/net5.0
/WaterManagement/WaterManagementProcessorTests/bin
